.first ul{
  width: 600px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: baseline;
  border: 1px solid black;
  margin: 0px auto;
  background-color: #2696e8;
  align-content: center;
}
.first li{
  border: 1px solid blue;
  list-style: none;
  align-self: center;
}
.first a{
  text-decoration: none;
  align-content: center;
  padding: 10px;
  display: block;
  color: white;
}
.first a:hover{
  color: blue;
  background-color: white;
}
