.first{
  width: 500px;
  height: 500px;
  border: red 1px dotted;
  position: relative;
  top:10px;
  left: 10px;
  background-color: green;
  z-index: 0;
}
.second{
  width: 90px;
  height: 90px;
  border: blue 1px solid;
  position: relative;
  top: 20px;
  left: 30px;
  z-index: 1;
  background-color: white;
}
.third{
  width: 90px;
  height: 90px;
  border: green 1px solid;
  position: relative;
  float: right;
  top: 50%;
  right: 30px;
  z-index: 1;
  background-color: white;
}
